*{
    margin: 0;
    padding: 0;
}

.bg_image{
    width: 100%;
    height: 100vh;
    background-color: brown;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#fontStyle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    border: 1px solid rgb(26, 128, 0);
    border-radius: 20px;
}

#textStyle{
    color: teal;
    text-align: center;
    text-transform: uppercase;
    text-indent: 10px;
    direction: rtl;
    letter-spacing: 2px;
    word-spacing: 2px;  
}

a:link{
    color: black;
}

a:hover{
    color: teal;
}

a:active{
    color: tomato;
}

a:visited{
    color: rgb(60, 255, 0);
}


#listStyle ul{
    list-style-type: none;
}