body {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 170%;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
    padding-bottom: 10px;
    border-bottom: 1px dotted black;
}

h2 {
    font-size: 120%;
}

#first_disc {
    line-height: 1.9em;
    color: saddlebrown;
    padding: 25px;
    margin: 30px;
    padding-left: 80px;
    margin-right: 250px;
    background-color: rgb(0, 0, 0.5);
    border: 1px outset aqua;
    font-size: 100%;
}



